<!DOCTYPE html>
<html>
  <head>
    <title>Pablo's blog</title>
    <link rel=stylesheet type=text/css href="{{ url_for("static", filename="style.css") }}">
    <link rel=stylesheet type=text/css href="{{ url_for("static", filename="code.css") }}">
    <meta content="Pablo Merino – Software Developer" name="title">
    <meta content="ruby, ios, web, rails, palencia, spain, ruby on rails, sysadmin, linux, sql, mongodb, objective-c, mysql, postgres, nodejs" name="keywords">
    <meta content="Pablo Merino is a software developer based in Palencia, Spain" name="description">
  </head>
  <body>
    <h1>Pablo's blog <span class="slightly_smaller">{{title}}</span> {% if in_post %}
      <a class="homepage" href="/">Back to the homepage</a>
    {% else %}
      <a class="homepage" href="http://pmerino.me">Back to pmerino.me</a>
    {% endif %}</h1>

    {% block body %}{% endblock %}
    <hr/>
    <small>Pablo's blog, now running on Python – Only the personal opinion of <a href="http://pmerino.me">Pablo Merino</a></small>
  </body>
</html>
